/* NAVIGATION */

a {
  color: #dc3545;
}
a:hover {
  text-decoration: none;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
  margin-bottom: 70px;
}

.blog-header-logo {
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  font-size: 2.25rem;
}
.blog-header-logo:hover {
  text-decoration: underline;
}

.logo {
  width: 100px;
}

.quote {
  text-align: center;
  margin-bottom: 40px;
}

/* ABOUT */
.about {
  line-height: 2;
}

/* CARD */
.card {
  width: 300px;
  height: 180px;
  border: 1px solid #ffffff;
}

.card-text {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

/* LOGIN */
.login-form {
  margin: 0 auto;
}

/* FOOTER */

img.lighttech.img-thumbnail {
  width: 150px;
}

.footer-logo {
  width: 50px;
  /* opacity: 0.5; */
}

.last-footer {
  background-color: #d3d3d3;
}

.last-footer p {
  color: #000000;
}

.last-footer a {
  color: #ffffff;
}
.last-footer a:hover {
  text-decoration: none;
  color: #0056b3;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .blog-header-logo {
    font-size: 1.75rem;
  }
  .logo {
    width: 75px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 550px) {
  .card {
    width: 250px;
    height: 130px;
  }
}
@media screen and (max-width: 600px) {
  .blog-header-logo {
    font-size: 1.25rem;
  }
  .logo {
    width: 50px;
  }
  .share {
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .brand {
    padding-top: 39px;
  }
}
